@use "../custom" as *;

.bg-img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
        object-fit:fill;
        width: 100%;
        height: 100%;
    }
}

.bg-img-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;

    img {
        width: 100%;
    }
}

